:root {
    --mainColor: #212121;
    --switchColor: #2196F3;
    --logoColor: #000000;
    --whiteColor: #FFFFFF;
    --h1BackgroundColor: #2F303A;
    --addressColorHeader: #757575;
    --addressColorFooter: rgba(255, 255, 255, 0.6);
    --calmButton: #F5F4FA;
    --backgroundPrinciples: #F5F5F5;
    --switchMainButton: #188CE8;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--mainColor);
    background-color: var(--whiteColor);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logoColor);
}

.part-logo {
    color: var(--switchColor);
}

.site-nav,
.auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.site-nav-decoration {
    color: var(--mainColor);
}

.auth-nav-decoration {
    color: var(--addressColorHeader);
}


.link:focus,
.link:hover {
    color: var(--switchColor);
}

.hero {
    color: var(--whiteColor);
    background-color: var(--h1BackgroundColor);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}

.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--switchColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 4px;
    font-family: inherit;
}

.main-button:focus,
.main-button:hover {
    background-color: var(--switchMainButton);
    cursor: pointer;
}

.button-action:hover,
.button-action:focus {
    color: var(--whiteColor);
    background-color: var(--switchColor);
    cursor: pointer;
}

.third-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--addressColorHeader);

}

.second-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.third-title-teacher {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.occupation {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--addressColorHeader);
}

.section-gray {
    background-color: var(--calmButton);
}

.bot-background {
    background-color: var(--h1BackgroundColor);
}

.part-color {
    color: var(--whiteColor);
}

.auth-bot {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link-bot {
    color: var(--addressColorFooter);
    font-style: normal;
}

.link-bot-swap-color {
    color: var(--whiteColor);
}

.second-title-portfolio {

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--addressColorHeader);
}

.second-btn {
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--calmButton);
    color: var(--mainColor);
    border: none;
    border-radius: 4px;
}