:root {
    --mainColor: #212121;
    --switchColor: #2196F3;
    --logoColor: #000000;
    --whiteColor: #FFFFFF;
    --h1BackgroundColor: #2F303A;
    --addressColorHeader: #757575;
    --addressColorFooter: rgba(255, 255, 255, 0.6);
    --calmButton: #F5F4FA;
    --backgroundPrinciples: #F5F5F5;
    --switchMainButton: #188CE8;
    --headerBorder: #ECECEC;
    --borderCardPortfolio: #EEEEEE;
    --backgroundMainColor: #C4C4C4;
    --shadowGrad: rgba(47, 48, 58, 0.4);
    --greyCloseFotter: #AFB1B8;
    --backgrondSocialLinkFooter: rgba(255, 255, 255, 0.1);
    --mainTransitionDuration:250ms;
    --mainCubicBazier:cubic-bezier(0.4, 0, 0.2, 1);
    --opacityCardColor: rgba(33, 150, 243, 0.9);
    --borderFooterInput :rgba(255, 255, 255, 0.3);
    --footerInputColorText:rgba(255, 255, 255, 0.6);
    --commentColor:rgba(117, 117, 117, 0.5);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--mainColor);
    background-color: var(--whiteColor);
}

.link {
    text-decoration: none;
    transition-property: color, fill;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function:var(--mainCubicBazier);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon-nav {
    display: block;
    margin-right: 10px;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logoColor);
}

.part-logo {

    color: var(--switchColor);
}

.flex-configuration {
    display: flex;

}

.site-nav,
.auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-li-auth-margin:not(:last-child) {
    margin-right: 30px;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav-decoration {
    display: block;    
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--mainColor);
}
.site-nav-decoration.nav-line{
    display: block;
    position: relative;
    color: var(--switchColor);
    
}
.nav-line:after{
    position:absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    left:0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--switchColor);
    
}


.nav-li-magin {
    margin-right: 50px;

}

.nav-li-magin:last-child {
    margin-right: 0;
}

.auth-nav-decoration {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    fill: var(--addressColorHeader);
    color: var(--addressColorHeader);

}

.link:focus,
.link:hover {

    color: var(--switchColor);
    fill: var(--switchColor);

}

.hero {
    text-align: center;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 1600px;
    background-size: cover;
    padding: 200px 0;
    color: var(--whiteColor);
    background-color: var(--backgroundMainColor);
    background-image: linear-gradient(to right,
            var(--shadowGrad), var(--shadowGrad) 100%),
        url('../images/mainBackgroundImg.jpg');


}



.hero-title {
    width: 696px;
    margin: 0 auto 30px auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--switchColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    display: inline-block;
    width: 216px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}

.main-button:focus,
.main-button:hover,
.button-footer-form-submit:focus,
.button-footer-form-submit:hover {
    background-color: var(--switchMainButton);
    cursor: pointer;
}

.button-action {
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}

.button-action:hover,
.button-action:focus {
    color: var(--whiteColor);
    background-color: var(--switchColor);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.third-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text {
    width: 270px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--addressColorHeader);

}

.second-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.third-title-teacher {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.occupation {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--addressColorHeader);
}

.section-gray {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--calmButton);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--h1BackgroundColor);
}

.part-color {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--whiteColor);
}

.auth-bot {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link-bot {
    color: var(--addressColorFooter);
    font-style: normal;
}

.link-bot-swap-color {
    color: var(--whiteColor);
}

.second-title-portfolio {
    color: var(--mainColor);
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-portfolio {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--addressColorHeader);
}

.second-btn {
    display: block;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--calmButton);
    color: var(--mainColor);
    border: none;
    border-radius: 4px;
}

.page-header {
    background-color: var(--whiteColor);
    border-bottom: 1px solid var(--headerBorder);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.nav-flex-container {
    display: flex;
    align-items: center;
}



.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.section-principles {
    padding-top: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-address-margin:not(:last-child) {
    margin-bottom: 9px;
}





.card {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--whiteColor);
}

.card-inner {
    padding: 30px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.costant-client-gap {
    display: flex;
    column-gap: 30px;
}

.btn-portfolio-flex-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-list:not(:last-child) {
    margin-right: 8px;
}

.card-portfolio {

    width: 370px;
    background: var(--whiteColor);
}

.link-in-card {
    display: block;
    text-decoration: none;
    transform: box-shadow;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}

.link-in-card:hover,
.link-in-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}
.overlay{
    position: relative;
    overflow: hidden;
}
.overlay-inner{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(101%);
    background-color: var(--opacityCardColor);
    transition: transform;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}
.link-in-card:hover .overlay-inner,
.link-in-card:focus .overlay-inner{
    transform: translateY(0);
}
.overlay-inner-txt{
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--whiteColor);
}
.card-portfolio:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.span-h-p {
    padding: 20px 24px;
    border-bottom: 1px solid var(--borderCardPortfolio);
    border-left: 1px solid var(--borderCardPortfolio);
    border-right: 1px solid var(--borderCardPortfolio);
}



.card-portfolio-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.background-decoration-icon {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 270px;
    background-color: var(--calmButton);
    margin-bottom: 30px;
    border-radius: 4px;

}

.decoration-icon {
    display: block;
}

.constant-client-size {
    height: 92px;
    width: 170px;
}

.constant-client {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--greyCloseFotter);
    border-radius: 4px;
    fill: var(--greyCloseFotter);
    transition-property: fill, border;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);

}

.constant-client:hover,
.constant-client:focus {
    border: 1px solid var(--switchColor);
    cursor: pointer;
    fill: var(--switchColor);
}

.flex-container-social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: transparent;
    fill: var(--greyCloseFotter);
    transition-property: background-color, fill;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);

}

.social-link:hover,
.social-link:focus {

    background-color: var(--switchColor);
    fill: var(--whiteColor);
}

.footer-join {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--whiteColor);
}

.main-footer-container {
    display: flex;
    align-items: baseline;


}

.social-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: var(--backgrondSocialLinkFooter);
    fill: var(--whiteColor);
    transition-property: background-color;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);

}

.social-link-footer:focus,
.social-link-footer:hover {
    background-color: var(--switchColor);
}

.block-svg-icon {
    display: block;

}

.footer-div-margin {
    margin-right: 70px;
}

.our-work {
    position: relative;
}

.our-work-block {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    bottom: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8) 100%);
}

.our-work-title {
    margin: 0;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--whiteColor);
}
.backdrop{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity ;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}

.is-hidden .modal-window{
    transform:translate(-50%,-50%) scale(0.1);
    opacity: 0.1;
}
.backdrop.is-hidden{
    
    opacity:0;
    pointer-events: none;
    
}
.modal-window{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 581px;
    background-color: var(--whiteColor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform:translate(-50%,-50%) scale(1);
    transition-property: transform, opacity;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}

.btn-close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition-property: fill;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}
.btn-close:hover,
.btn-closr:focus{
    fill: var(--switchColor);
}
/*   FORM FOOTER*/
.footer-form{
    display: flex;
    margin-left: 93px;
    align-items: flex-end;
}
.footer-email-input{
    padding: 15px 0 15px 10px;
    border: 1px solid var(--borderFooterInput);
    border-radius: 4px;
    height: 50px;
    width: 358px;
    background-color: transparent;
    color: var(--footerInputColorText);
    transition-property: border-color;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}
.footer-email-input::placeholder{
    color:rgba(255, 255, 255, 0.6);
}
.footer-email-input:focus,
.footer-email-input:hover{
    border-color:  var(--switchColor);
    outline: none;
}

.button-footer-form-submit{
    display:flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--switchColor);
    transition-property: background-color;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
    color:var(--whiteColor);
    letter-spacing: 0.06em;
    font-weight: 700;
    line-height: 1.87;
    fill: var(--whiteColor);
    padding: 0;
}
/* MAIN-FORM*/
.main-form{
    width: 448px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    
}
.main-form-group-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom:  12px;
    margin-top: 0;
}
.user-data{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--addressColorHeader);
    align-self: flex-start;
   
}
.user-data-input{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 4px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: border-color var(--mainTransitionDuration) var(--mainCubicBazier);
}

.local-group:not(:first-child){
    margin-top: 10px;
}
.local-group{
    position: relative;
}
.footer-list-width{
    width: 100%;
}
.comment{
    resize: none;
    height: 120px;
    padding: 12px 16px;
    outline: none;
}
.comment::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--commentColor);
    
}
.form-icon{
    display: block;
    position: absolute;
    left: 21px;
    bottom: 20px;
    transform: translate(-50%,50%);
    fill: var(--mainColor);
    transition: fill var(--mainTransitionDuration) var(--mainCubicBazier);
}
.user-data-input:focus{
    border-color: var(--switchColor);
  
}
.user-data-input:focus +.form-icon{
    fill:var(--switchColor);
    
}
.check{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    color: var(--addressColorHeader);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}
.check:hover,
.check:focus{
    cursor: pointer;
}
.check-input{
    width: 1px;
    height: 1px;
    margin: -1;
    position: absolute;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.check-input:checked+.check-box{
    border-color: var(--switchColor) ;
    background-color: var(--switchColor);
}
.local-group-license{
    margin-top: 20px;
}
.link-deal{
    color:var(--switchColor);
}
.check-box{
    stroke: var(--whiteColor);
    stroke-width: 0.2px;
    fill: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid var(--mainColor);
    transition-property: border-color, background-color;
    transition-duration: var(--mainTransitionDuration);
    transition-timing-function: var(--mainCubicBazier);
}
.main-form-btn{
    display: block;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    padding: 0;
    border: none;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--whiteColor);
    background-color: var(--switchColor);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--mainTransitionDuration) var(--mainCubicBazier);
}
.main-form-btn:focus,
.main-form-btn:hover{
    background-color: var(--switchMainButton);
    cursor: pointer;
}