:root {
    --mainColor: #212121;
    --switchColor: #2196F3;
    --logoColor: #000000;
    --h1Color: #FFFFFF;
    --h1BackgroundColor: #2F303A;
    --addressColorHeader: #757575;
    --addressColorFooter: rgba(255, 255, 255, 0.6);
    --calmButton: #F5F4FA;
    --backgroundPrinciples: #F5F5F5;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--mainColor);
    background-color: var(--h1Color);
}

/*logo*/
.decoration-logo {
    color: var(--logoColor);
    font-size: 26px;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.decoration-logo>span {
    color: var(--switchColor);
}



/* nav - decor*/
.nav-decoration {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-decoration li {
    list-style-type: none;

}

.nav-decoration a {
    text-decoration: none;
    color: var(--mainColor);
}

.nav-decoration a:hover,
.nav-decoration a:focus {
    color: var(--switchColor);
}

/*contact-decoration*/
.contact-decoration a {
    color: var(--addressColorHeader);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-decoration a:focus,
.contact-decoration a:hover {
    color: var(--switchColor);
}

.contact-decoration li {
    list-style-type: none;
}

/*main*/
.main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--h1Color);
    background-color: var(--h1BackgroundColor);

}

/*main-button*/
.main-button {
    background-color: var(--calmButton);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: 'Roboto';
    color: var(--mainColor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-button:focus,
.main-button:hover {
    background-color: var(--switchColor);
    color: var(--h1Color);

}

/*principles*/
.principles li {
    list-style-type: none;
}

.principles h3 {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.principles p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--addressColorHeader);
}

/*team-do*/
.team-do h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-do li {
    list-style-type: none;
}

/*our-team*/
.our-team {
    background-color: var(--calmButton);
}

.our-team h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team li {
    list-style-type: none;
    text-align: center;
    background-color: var(--h1Color);
}

.our-team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.our-team p {
    font-weight: 400;
    color: var(--addressColorHeader);
}

/*footer*/
.footer-decoration {
    background-color: var(--h1BackgroundColor);
}

.contact-decoration-footer a {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
}

.contact-decoration-footer li {
    list-style-type: none;
}

.contact-decoration-footer a:hover,
.contact-decoration-footer a:focus {
    color: var(--switchColor);
}

.contact-decoration-footer-physical {
    color: var(--h1Color);
}

.contact-decoration-footer-nonphysical {
    color: var(--addressColorFooter);
}

.group-buttons .main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.group-buttons li {
    list-style-type: none;
}

.example li {
    list-style-type: none;

}

.example h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.3;
    color: var(--addressColorHeader);
}