.feature{
    /*display: flex;
    justify-content: space-between;*/
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.feature__item{
    @media screen and (max-width: 767px){
        &:not(:last-child){
                margin-bottom: 30px;
        } 
        width: 450;
    }
    @media screen and (min-width: 768px){
        width: 354px;
        margin: 15px;
    }
    @media screen and (min-width: 1200px){
        width: 270px;
    }
  
}
.feature__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: $calmButton;
    margin-bottom: 30px;
    border-radius: 4px;
}
.feature__title{
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (min-width:768px){
        text-align: start;
     }
}
.feature__text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $addressColorHeader;

}
