.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $h1BackgroundColor;
   /* @media screen and (max-width:479px){
        width: 480px;
    }*/
}
.footer-content {
    @media screen and (max-width:767px){
        margin-bottom: 60px;
    }
    @media screen and (max-width:1199px){
        text-align: center;
    }
    @media screen and (min-width:1200px){
        flex-grow: 1;
        margin-right: 70px;
    }
    
}
.footer-auth {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-auth__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-auth__link{
    color: $addressColorFooter;
    font-style: normal;
    
    &--white-text {
        color: $whiteColor;
    }
}
.footer-form{
    display: flex;
    @media screen and (max-width:1199px) {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    }
    @media screen and (min-width:1200px) {
        
        margin-left: 93px;
        align-items: flex-end;
    }
   
}
.footer-form__input-email{
    padding: 15px 0 15px 10px;
    border: 1px solid $borderFooterInput;
    border-radius: 4px;
    height: 50px;
   // width: 358px;
   width: 100%;
    @media screen and (min-width:480px) and (max-width:1199px) {
      width: 450px;
    }
    @media screen and(min-width:1200px){
        width: 358px;
    }
    background-color: transparent;
    color: $footerInputColorText;
    transition-property: border-color;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
    &::placeholder{
        color:rgba(255, 255, 255, 0.6);
    }
    &:focus,
    &:hover{
    border-color:  $switchColor;
    outline: none;
}
}
.join{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
}


//////////////////
.footer-group{
    @media screen and (max-width:1199px){
        margin-bottom: 60px;
    }
    @media screen and (min-width:768px) and (max-width:1199px){
        display: flex;
        justify-content: space-around;
    }
    @media screen and (min-width:768px){
        align-items: baseline;
    }
   
    @media screen and (min-width:1200px) {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    }

}
.footer-form-container{
    @media screen and (max-width:479px) {
        width: 100%;
    }
}