.logo {
    font-family: $secondFont;
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    color: $logoColor;
}
.logo--white{
    margin-bottom: 20px;
    color: $whiteColor;
}
.logo__particles{
    color: $switchColor;
}


