.backdrop{
    overflow-y: scroll;
    @media screen and (max-width: 767px){
        padding-top: 93px;
        padding-bottom:93px ;
    }
    @media screen and (min-width:767px) and (max-width:1199px){
        padding-top: 208px;
        padding-bottom:208px;
        
    }
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: $backdropBackground;
    opacity: 1;
    transition-property: opacity ;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
    
    z-index: 4;//
    &.is-hidden{
    
        opacity:0;
        pointer-events: none;  
    }
}
.is-hidden {
    @media screen and (max-width: 1199px){
    & .modal-window{
        scale: 0.1 ;
    }
}
    @media screen and (min-width: 1200px)
    { & .modal-window{
        transform:translate(-50%,-50%) scale(0.1);
        opacity: 0.1;
    }}
    
}
.modal-window{
    z-index: 5;//
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 450px;
    height: 609px;
    
    @media screen and (max-width: 1199px){
    scale: 1;
    transition-property: scale;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
    }
@media screen and (min-width: 1200px){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 581px;
    transform:translate(-50%,-50%) scale(1);
    transition-property: transform, opacity;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
   
}
    background-color: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.btn-close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition-property: fill;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
    &:hover,
    &:focus{
    fill: $switchColor;
}
}
//form
.main-form{
    padding: 40px;
}
.main-form__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    
}
.main-form__title{

    text-align:center;//
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom:  12px;
    margin-top: 0;
}
.main-form__button{
    display: block;
    margin-top: 30px;
    width: 200px;
    padding: 0;
}
// form content
.private{
    width: 100%;
}
.private__item{
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.private__form-icon{
    display: block;
    position: absolute;
    left: 21px;
    bottom: 20px;
    transform: translate(-50%,50%);
    fill: $mainColor;
    transition: fill $mainTransitionDuration $mainCubicBazier;
}
.private__user-data-input:focus +.private__form-icon{
    fill:$switchColor;
}
.private__user-data{
    color: $addressColorHeader;
    align-self: flex-start;
   
}
.private__user-data-input{
    color: #000000;
    margin-top: 4px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: border-color $mainTransitionDuration $mainCubicBazier;
    &:focus{
        border-color: $switchColor;
    }
}
.comment{
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $addressColorHeader;
}
.comment__input{
    display: block;
    resize: none;
    font-size: 12px;
    margin-top: 4px;
    height: 120px;
    width: 100%;
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color $mainTransitionDuration $mainCubicBazier;
    &::placeholder{    
        color: $commentColor; 
    }
    &:focus{
        border-color: $switchColor;
    }
}
//spetial checkbox
.check{
    font-size: 12px;
    line-height: 1.71;

    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.71;
    }

    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    color: $addressColorHeader;
 
    letter-spacing: 0.03em;
    margin-top: 20px;
    &:hover,
    &:focus{
        cursor: pointer;
    }
   
}
.check__link-deal{
    color:$switchColor;
}
.check__box{
    stroke: $whiteColor;
    stroke-width: 0.2px;
    fill: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid $mainColor;
    transition-property: border-color, background-color;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
}
.check__input:checked+.check__box{
    border-color: $switchColor ;
    background-color: $switchColor;
}



