.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;

   
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: transparent;

    &--first-animation{
        fill: $greyCloseFotter;
        transition-property: background-color, fill;
        transition-duration: $mainTransitionDuration;
        transition-timing-function: $mainCubicBazier;
    }
    &--first-animation:focus,
    &--first-animation:hover {

        background-color: $switchColor;
        fill: $whiteColor;
    }
    &--second-animation {
   
        background-color: $backgrondSocialLinkFooter;
        fill: $whiteColor;
        transition-property: background-color;
        transition-duration: $mainTransitionDuration;
        transition-timing-function: $mainCubicBazier;
    
    }
    &--second-animation:hover,
    &--second-animation:focus {
        background-color: $switchColor;
    }
}