.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;

   
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: transparent;
    fill: $greyCloseFotter;
    transition-property: background-color, fill;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
    
    &:focus,
    &:hover {

        background-color: $switchColor;
        fill: $whiteColor;
    }

   
}
.social__link--second-animation{
    background-color: $backgrondSocialLinkFooter;
    fill: $whiteColor;
    transition-property: background-color;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;
    &:hover,
    &:focus {
        background-color: $switchColor;
    }
}