.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--grey-background {
        background-color: $calmButton;
    }
    @media screen and (max-width: 479px){
        width: 480px;
      }
    @media screen and (max-width: 1199px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &--non-padding-bot{
        padding-bottom: 0;
        @media screen and (max-width: 1199px){
            padding-bottom: 60px;
        }
        
    }
    &--none{
        display: none;
        @media screen and (min-width: 1200px){
            display: block;
        }
    }
}

