$mainColor: #212121;
$switchColor: #2196F3;
$logoColor: #000000;
$whiteColor: #FFFFFF;
$h1BackgroundColor: #2F303A;
$addressColorHeader: #757575;
$addressColorFooter: rgba(255, 255, 255, 0.6);
$calmButton: #F5F4FA;
$backgroundPrinciples: #F5F5F5;
$switchMainButton: #188CE8;
$headerBorder: #ECECEC;
$borderCardPortfolio: #EEEEEE;
$backgroundMainColor: #C4C4C4;
$shadowGrad: rgba(47, 48, 58, 0.4);
$greyCloseFotter: #AFB1B8;
$backgrondSocialLinkFooter: rgba(255, 255, 255, 0.1);
$mainTransitionDuration:250ms;
$mainCubicBazier:cubic-bezier(0.4, 0, 0.2, 1);
$opacityCardColor: rgba(33, 150, 243, 0.9);
$borderFooterInput :rgba(255, 255, 255, 0.3);
$footerInputColorText:rgba(255, 255, 255, 0.6);
$commentColor:rgba(117, 117, 117, 0.5);
$mainFont:'Roboto', sans-serif;
$secondFont:'Raleway', sans-serif;
$backdropBackground:rgba(0, 0, 0, 0.2);

